<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> subreddit </title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1> <b> <%= name %> </b></h1>
    <p>Number of subscriptions : <b> <%= subscribers %> </b> </p>
    <p> <%= description %> </p>
    <hr>

    <% for(let post of posts){ %>
        <p>
            <%= post.title %> - <%= post.author %>
        </p>

        <% if(post.img){ %>
            <img src = "<%= post.img %>">

        <% } %>

    <% } %>





</body>
</html>